
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family:tahoma,sans-serif;
background:#050816;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
color:white;
position:relative;
}
.bg{
position:absolute;
width:200%;
height:200%;
background:radial-gradient(circle,#00d5ff22 1px,transparent 1px);
background-size:45px 45px;
animation:move 20s linear infinite;
}
@keyframes move{
from{transform:translate(0,0);}
to{transform:translate(-250px,-250px);}
}
.card{
width:90%;
max-width:420px;
padding:35px 25px;
background:rgba(255,255,255,.06);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.1);
border-radius:30px;
text-align:center;
position:relative;
z-index:2;
box-shadow:0 0 30px rgba(0,213,255,.3);
}
.avatar{
width:120px;
height:120px;
border-radius:50%;
border:4px solid #00d5ff;
margin-bottom:20px;
}
h1{
font-size:28px;
margin-bottom:10px;
}
.subtitle{
color:#bbb;
margin-bottom:25px;
}
.socials{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}
.btn{
text-decoration:none;
padding:16px;
border-radius:18px;
background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.1);
color:white;
font-weight:bold;
transition:.3s;
}
.btn:hover{
background:#00d5ff;
color:black;
transform:translateY(-5px);
}
.footer{
margin-top:25px;
color:#888;
}
@media(max-width:500px){
.socials{
grid-template-columns:1fr;
}
}
